<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator 
Configuration 1.0//EN" 
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

  <!-- targetRuntime: 1 MyBatis3DynamicSql（默认值）。忽略defaultModelType的设置，采用FLAT，主键不会抽取成独立的一个类。 
    忽略javaClientGenerator的type配置，生成注解方式的sql，不会生成xml。 2 MyBatis3。会有by example的方法生成 
    3 MyBatis3Simple。没有by example的方法生成 -->
  <!-- defaultModelType: 1 conditional（默认值），如果主键是多个字段，将会抽取成单独的一个类。2 flat，一个表对应一个类，包含所有属性。 
    3 hierarchical，主键会抽取成一个单独的类。 -->
  <!-- mvn mybatis-generator:generate -Dmybatis.generator.overwrite=true -->
  <context id="book" targetRuntime="MyBatis3"
    defaultModelType="flat">

    <commentGenerator>
      <property name="suppressAllComments" value="true" />
    </commentGenerator>

    <jdbcConnection
      connectionURL="jdbc:postgresql://localhost:5432/hongxiutianxiang?serverTimezone=UTC"
      password="yunzhong" userId="postgres"
      driverClass="org.postgresql.Driver" />

    <javaModelGenerator
      targetPackage="org.yunzhong.CommonTest.library.model"
      targetProject="src/main/java" />

    <sqlMapGenerator
      targetPackage="org.yunzhong.CommonTest.library.dao.mapper"
      targetProject="src/main/java">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator
      targetPackage="org.yunzhong.CommonTest.library.dao"
      targetProject="src/main/java" type="XMLMAPPER" />

    <table schema="public" tableName="sys_user"
      domainObjectName="SysUser" enableCountByExample="false"
      enableUpdateByExample="false" enableDeleteByExample="false"
      enableSelectByExample="false" />
    <table schema="public" tableName="sys_dept"
      domainObjectName="SysDept" enableCountByExample="false"
      enableUpdateByExample="false" enableDeleteByExample="false"
      enableSelectByExample="false" />
    <table schema="public" tableName="hong_book"
      domainObjectName="HongBook" enableCountByExample="false"
      enableUpdateByExample="false" enableDeleteByExample="false"
      enableSelectByExample="false" />
    <table schema="public" tableName="hong_book_chapter"
      domainObjectName="HongBookChapter" enableCountByExample="false"
      enableUpdateByExample="false" enableDeleteByExample="false"
      enableSelectByExample="false" />
    <table schema="public" tableName="hong_book_read_his"
      domainObjectName="HongBookReadHis" enableCountByExample="false"
      enableUpdateByExample="false" enableDeleteByExample="false"
      enableSelectByExample="false" />
    <table schema="public" tableName="hong_image"
      domainObjectName="HongImage" enableCountByExample="false"
      enableUpdateByExample="false" enableDeleteByExample="false"
      enableSelectByExample="false" />
  </context>

</generatorConfiguration>